@import url(./__title/description__title.css);
@import url(./__subtitle/description__subtitle.css);
@import url(./__info-list/description__info-list.css);
@import url(./__info-item/description__info-item.css);
@import url(./__bold/description__bold.css);

.description {
  max-width: 83%;
  margin: 0 auto 92px;
}

@media (max-width: 1024px) {
  .description {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .description {
    margin: 0 auto 64px;
  }
}
