.place__title {
  margin: 0;
  padding: 0;
  align-self: end;
  color: #FFF;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}

@media (max-width: 425px) {
  .place__title {
    font-size: 32px;
  }
}
