.intro__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-size: 30px;
  transition: font-size 0.2s;
}

@media (max-width: 768px) {
  .intro__subtitle {
    margin: 0 auto 40px;
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .intro__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
  }
}
