.intro__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  transition: font-size 0.2s;
}

@media (max-width: 768px) {
  .intro__subtitle {
    margin: 0 auto 40px;
    font-size: 23px;
  }
}

@media (max-width: 425px) {
  .intro__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
  }
}
