.page__header {
  margin: 0 auto;
  padding: 28px 48px 63px;
}

@media (max-width: 768px) {
  .page__header {
    padding: 28px 24px 48px;
  }
}

@media (max-width: 425px) {
  .page__header {
    padding: 16px 16px 48px;
  }
}
