@import url(./_active/locales__item_active.css);

.locales__item {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .locales__item {
    font-size: 18px;
    line-height: 24px;
  }
}
