.cover__subtitle {
  position: relative;
  z-index: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 360px;
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .cover__subtitle {
    max-width: 300px;
    font-size: 14px;
  }
}
