.comments__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .comments__list {
    flex-direction: column;
    max-width: 382px;
    margin: auto;
  }
}
