.header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 28px 48px 63px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .header {
    padding: 28px 24px 63px;
  }
}
