.video__duration {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #FFF;
  display: inline-block;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .video__duration {
    margin-bottom: 8px;
  }
}
