@import url(./__header/comment__header.css);
@import url(./__body/comment__body.css);
@import url(./__photo/comment__photo.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .comment {
    align-items: center;
  }
}

