@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__image/intro__image.css);
@import url(./__caption/intro__caption.css);

.intro {
  max-width: 83%;
  margin: 0 auto 100px;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 100%;
  }
}
