.place__heading {
  display: block;
  margin: 0 0 6px;
  padding: 0;
  color: #AAA;
  font-size: 12px;
  line-height: 1.6;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
