@import url(./__list/footer__list.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  max-width: 1280px;
  padding: 0 48px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media (max-width: 425px) {
  .footer {
    padding: 0 16px 24px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

