.intro__title {
  margin: 0 auto 25px;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  transition: font-size 0.2s;
}

@media (max-width: 570px) {
  .intro__title {
    font-size: 54px;
  }
}

@media (max-width: 425px) {
  .intro__title {
    font-size: 40px;
  }
}
